
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGostLabel">Create or edit a Gost</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gost.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gost.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ime">Ime</label>
            <input type="text" class="form-control" name="ime" id="field_ime"
                    ng-model="vm.gost.ime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prezime">Prezime</label>
            <input type="text" class="form-control" name="prezime" id="field_prezime"
                    ng-model="vm.gost.prezime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.gost.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lozinka">Lozinka</label>
            <input type="text" class="form-control" name="lozinka" id="field_lozinka"
                    ng-model="vm.gost.lozinka"
                    />
        </div>

        <div class="form-group">
            <label for="field_userID">User ID</label>
            <select class="form-control" id="field_userID" name="userID" ng-model="vm.gost.userID" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_prijatelji">Prijatelji</label>
            <select class="form-control" id="field_prijatelji" multiple name="prijatelji" ng-model="vm.gost.prijateljis" ng-options="gost as gost.id for gost in vm.gosts track by gost.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
