
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myKonfiguracijaStolovaLabel">Create or edit a Konfiguracija Stolova</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.konfiguracijaStolova.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.konfiguracijaStolova.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ime">Ime</label>
            <input type="text" class="form-control" name="ime" id="field_ime"
                    ng-model="vm.konfiguracijaStolova.ime"
                    />
        </div>

        <div class="form-group">
            <label for="field_menadzerRestorana">Menadzer Restorana</label>
            <select class="form-control" id="field_menadzerRestorana" name="menadzerRestorana" ng-model="vm.konfiguracijaStolova.menadzerRestorana" ng-options="menadzerRestorana as menadzerRestorana.id for menadzerRestorana in vm.menadzerrestoranas track by menadzerRestorana.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
